node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
*.ptau
Q2/contracts/circuits/Multiplier3
Q2/contracts/circuits/HelloWorld
Q2/contracts/circuits/Multiplier3Plonk
Q2/contracts/circuits/RangeProof
Q2/contracts/circuits/Multiplier3_plonk
Q2/contracts/circuits/Sudoku
Q2/contracts/circuits/PreimageProof
Q2/contracts/circuits/SimplePublicKeyProof
Q2/contracts/circuits/PublicKeyProof
Q2/contracts/circuits/EllipticCurvePublicKeyProof
Q2/contracts/circuits/MerkleTreeMembership
Q3/contracts/bonus/SystemOfEquations
